
//按钮样式
@mixin btn-size($width,$height,$font-size){
	width: $width;
	height: $height;
	border-radius: $height/2;
	font-size: $font-size;
	line-height: $height;
	text-align: center;
	display: inline-block;
	font-family: fontMedium;
}

@mixin btn-border($color){//带边框
	border: 1px solid $color;
	color: $color;
	background-color: transparent;
}

@mixin btn-bgcolor($color){//带背景
	background-color: $color;
	color: #fff;
}

@mixin radius($width,$height){
	width: $width;
	height: $height;
	border-radius: $height/2
}

//  flex-direction: row | row-reverse | column | column-reverse; 
// 	justify-content: flex-start | flex-end | center | space-between | space-around; 
// 	align-items: flex-start | flex-end | center | baseline | stretch;
//  align-content: flex-start | flex-end | center | space-between | space-around | stretch; 

@mixin flex-row($justify-content:space-between,$align-items:flex-start){
	display: flex;
	flex-direction: row;
	justify-content: $justify-content;
	align-items: $align-items;
}
@mixin flex-col($justify-content:space-between,$align-items:flex-start){
	display: flex;
	flex-direction: column;
	justify-content: $justify-content;
	align-items: $align-items;
}


@mixin ellipsis($line:1){
	overflow: hidden;
	text-overflow: ellipsis;
	display:-webkit-box; //作为弹性伸缩盒子模型显示。
	-webkit-box-orient:vertical; //设置伸缩盒子的子元素排列方式--从上到下垂直排列
	-webkit-line-clamp:$line; //显示的行
}