
//color
//Main colors   -   Main Accent
$color1: #1F5798; //深蓝色 主色
$color2: #007AFF; //次深蓝色 主色

$color3: #333333; //浅色 主色 
$color4: #666666; //棕色 链接色
$color5: #999999; //棕色 链接色


//Main colors  -  Secondary Accent
$color5: #eee;


//Typography colors  -  Main Accent



//Typography colors  -  Secondary Accent



//other colors





// font-size-pc
// $font-size-11:1.1rem;
// $font-size-12:1.2rem;
// $font-size-14:1.4rem;
// $font-size-16:1.6rem;
// $font-size-18:1.8rem;
// $font-size-20:2.0rem;
// $font-size-22:2.2rem;
// $font-size-26:2.6rem;
// $font-size-36:3.6rem;
// $font-size-40:4.0rem;
// $font-size-45:4.5rem;
// $font-size-46:4.6rem;
// $font-size-48:4.8rem;

//  font-size-pc 
$font-size-12:12px;
$font-size-14:14px;
$font-size-16:16px;
$font-size-18:18px;
$font-size-24:24px;
$font-size-28:28px;
$font-size-30:30px;
$font-size-36:36px;
$font-size-48:48px;
$font-size-60:60px;






//font-size-mobile
$font-size-m10:0.625rem;//10px
$font-size-m12:0.75rem;//12px
$font-size-m14:0.875rem;//14px
$font-size-m16:1.0rem;//16px
$font-size-m18:1.125rem;//18px
$font-size-m24:1.5rem;//24px




// pc端宽度全局变量
$view-width:1440px;


// PC端菜单栏高度
$header-height:100px;


//手机端菜单栏高度
$mobile-header-height:3.25rem;//44px